@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: 18px;
  font-family: 'Barlow', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
span,
button {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 700;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header .container .shape {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 60vh;
  border-radius: 0 0 0 4rem;
  background-color: #eef3f6;
  z-index: -99;
}

header .container .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1.5rem;
}

header .container .navbar .burger {
  display: none;
}

header .container .navbar .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .container .navbar .list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 1.5rem;
}

header .container .navbar .list li:last-child a:hover {
  color: #a0a1ac;
}

header .container .navbar .list li a {
  text-transform: uppercase;
  color: #242942;
  letter-spacing: 1px;
}

header .container .navbar .list li a:hover {
  text-decoration: underline;
}

header .container .navbar .list li div {
  width: 7px;
  height: 7px;
  background-color: #a0a1ac;
  border-radius: 50%;
  margin-top: 0.6rem;
}

header .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  padding: 6rem 0;
}

header .main .content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 50%;
}

header .main .content .label {
  color: #a0a1ac;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
  letter-spacing: 5px;
}

header .main .content .label span {
  padding: 2px 10px;
  color: white;
  background: #242942;
  border-radius: 20px;
  margin-right: 1rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0px;
}

header .main .content h1 {
  text-transform: uppercase;
  font-size: 70px;
  color: #242942;
  line-height: 4rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

header .main .content p {
  color: #5b5f71;
}

header .main .content .CTA {
  padding-top: 3.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .main .content .CTA button {
  text-transform: uppercase;
  color: white;
  background-color: #ff5c5c;
  border: none;
  padding: 1rem 1.6rem;
  border-radius: 5px;
  font-size: 16px;
  letter-spacing: 2px;
  margin-right: 1.5rem;
}

header .main .content .CTA button:hover {
  cursor: pointer;
  opacity: 0.7;
}

header .main .content .CTA p {
  color: #a0a1ac;
  text-transform: uppercase;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  letter-spacing: 5px;
}

header .main .Illustration {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: url("./images/illustration-devices.svg") no-repeat -53% 100%/cover;
  -webkit-transform: translateX(13%);
          transform: translateX(13%);
}

@media screen and (max-width: 375px) {
  header .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 1.9rem;
  }
  header .container .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 1.5rem;
  }
  header .container .navbar .burger {
    display: block;
  }
  header .container .navbar .burger .icon-burger {
    display: block;
  }
  header .container .navbar .burger .icon-close {
    display: none;
  }
  header .container .navbar .burger.active {
    display: block;
  }
  header .container .navbar .burger.active .icon-burger {
    display: none;
  }
  header .container .navbar .burger.active .icon-close {
    display: block;
  }
  header .container .navbar .list {
    display: none;
  }
  header .container .navbar .list li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 1.5rem;
  }
  header .container .navbar .list li:last-child a:hover {
    color: #a0a1ac;
  }
  header .container .navbar .list li a {
    text-transform: uppercase;
    color: #242942;
    letter-spacing: 1px;
  }
  header .container .navbar .list li a:hover {
    text-decoration: underline;
  }
  header .container .navbar .list li div {
    width: 7px;
    height: 7px;
    background-color: #a0a1ac;
    border-radius: 50%;
    margin-top: 0.6rem;
  }
  header .container .navbar .list.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    background-color: #FFF;
    width: 80%;
    height: 34%;
    z-index: 999;
    margin-top: 5rem;
    -webkit-box-shadow: -8px 8px 20px 0px rgba(0, 0, 0, 0.5);
            box-shadow: -8px 8px 20px 0px rgba(0, 0, 0, 0.5);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .container .navbar .list.active li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: .5rem 1.5rem;
  }
  header .container .navbar .list.active li:last-child a,
  header .container .navbar .list.active li:last-child a:hover {
    color: #a0a1ac;
  }
  header .container .navbar .list.active li a {
    text-transform: uppercase;
    color: #242942;
    letter-spacing: 1px;
    padding-bottom: .5rem;
    font-weight: 700;
  }
  header .container .navbar .list.active li a:hover {
    text-decoration: underline;
  }
  header .container .navbar .list.active li div {
    width: 250px;
    height: 2px;
    background-color: #a0a1ac;
    opacity: .3;
    border-radius: 0;
    margin-top: 0.6rem;
  }
  header .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 1.9rem;
  }
  header .main .content {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  header .main .content .label {
    color: #a0a1ac;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 13px;
  }
  header .main .content .label span {
    padding: 2px 10px;
    color: white;
    background: #242942;
    border-radius: 20px;
    margin-right: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0px;
  }
  header .main .content h1 {
    text-transform: uppercase;
    color: #242942;
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 40px;
    line-height: 2.5rem;
  }
  header .main .content p {
    color: #5b5f71;
  }
  header .main .content .CTA {
    padding-top: 2.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    align-items: center;
  }
  header .main .content .CTA button {
    text-transform: uppercase;
    color: white;
    background-color: #ff5c5c;
    border: none;
    padding: .7rem 1.2rem;
    border-radius: 5px;
    font-size: 15px;
    letter-spacing: 1px;
    margin-right: 1.2rem;
  }
  header .main .content .CTA button:hover {
    cursor: pointer;
    opacity: 0.7;
  }
  header .main .content .CTA p {
    color: #a0a1ac;
    text-transform: uppercase;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    letter-spacing: 1px;
    font-size: 15px;
  }
  header .main .Illustration {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 372px;
    height: 250px;
    background: url("./images/illustration-devices.svg") no-repeat top left/cover;
    -webkit-transform: translateX(-7.5%);
            transform: translateX(-7.5%);
    margin: 4rem 0;
  }
}
/*# sourceMappingURL=style.css.map */