@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

$Red: hsl(0, 100%, 68%);
$Very-Dark-Blue: hsl(230, 29%, 20%);
$Dark-Grayish-Blue: hsl(230, 11%, 40%);
$Grayish-Blue: hsl(231, 7%, 65%);
$Light-Grayish-Blue: hsl(207, 33%, 95%);

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: 18px;
  font-family: 'Barlow', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
span,
button {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 700;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

header {

  .container {
    display: flex;
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    flex-direction: column;

    .shape {
      position: absolute;
      top: 0;
      right: 0;
      width: 50%;
      height: 60vh;
      border-radius: 0 0 0 4rem;
      background-color: $Light-Grayish-Blue;
      z-index: -99;
    }

    .navbar {
      display: flex;
      justify-content: space-between;
      margin-top: 1.5rem;

      .burger {
        display: none;
      }

      .list {
        display: flex;

        li {
          display: flex;
          padding: 0 1.5rem;

          &:last-child {
            a:hover {
              color: $Grayish-Blue;
            }
          }

          a {
            text-transform: uppercase;
            color: $Very-Dark-Blue;
            letter-spacing: 1px;

            &:hover {
              text-decoration: underline;
            }
          }

          div {
            width: 7px;
            height: 7px;
            background-color: $Grayish-Blue;
            border-radius: 50%;
            margin-top: 0.6rem;
          }
        }
      }
    }
  }

  .main {
    display: flex;
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    padding: 6rem 0;

    .content {
      flex: 1;
      width: 50%;

      .label {
        color: $Grayish-Blue;
        display: flex;
        text-transform: uppercase;
        letter-spacing: 5px;

        span {
          padding: 2px 10px;
          color: white;
          background: $Very-Dark-Blue;
          border-radius: 20px;
          margin-right: 1rem;
          font-weight: 400;
          text-transform: uppercase;
          letter-spacing: 0px;
        }
      }

      h1 {
        text-transform: uppercase;
        font-size: 70px;
        color: $Very-Dark-Blue;
        line-height: 4rem;
        margin-top: 1rem;
        margin-bottom: 2rem;
      }

      p {
        color: $Dark-Grayish-Blue;
      }

      .CTA {
        padding-top: 3.5rem;
        display: flex;
        align-items: center;

        button {
          text-transform: uppercase;
          color: white;
          background-color: $Red;
          border: none;
          padding: 1rem 1.6rem;
          border-radius: 5px;
          font-size: 16px;
          letter-spacing: 2px;
          margin-right: 1.5rem;

          &:hover {
            cursor: pointer;
            opacity: 0.7;
          }
        }

        p {
          color: $Grayish-Blue;
          text-transform: uppercase;
          align-self: center;
          letter-spacing: 5px;
        }
      }
    }

    .Illustration {
      flex: 1;
      background: url('./images/illustration-devices.svg') no-repeat -53% 100%/cover;
      transform: translateX(13%);
    }
  }
}


@media screen and (max-width:375px) {

  header {
    .container {
      padding: 0 1.9rem;

      .navbar {

        .burger {
          display: block;

          .icon-burger {
            display: block;
          }

          .icon-close {
            display: none;
          }
        }

        .burger.active {
          display: block;

          .icon-burger {
            display: none;
          }

          .icon-close {
            display: block;
          }
        }

        .list {
          display: none;
        }

        .list.active {
          display: flex;
          position: absolute;
          background-color: #FFF;
          width: 80%;
          height: 34%;
          z-index: 999;
          margin-top: 5rem;
          box-shadow: -8px 8px 20px 0px rgba($color: #000000, $alpha: 0.5);
          flex-direction: column;
          justify-content: center;
          align-items: center;

          li {
            display: flex;
            padding: .5rem 1.5rem;

            &:last-child {

              a,
              a:hover {
                color: $Grayish-Blue;
              }
            }

            a {
              text-transform: uppercase;
              color: $Very-Dark-Blue;
              letter-spacing: 1px;
              padding-bottom: .5rem;
              font-weight: 700;

              &:hover {
                text-decoration: underline;
              }
            }

            div {
              width: 250px;
              height: 2px;
              background-color: $Grayish-Blue;
              opacity: .3;
              border-radius: 0;
              margin-top: 0.6rem;
            }
          }
        }
      }
    }

    .main {
      flex-direction: column;
      padding: 0 1.9rem;

      .content {
        flex: none;
        width: 100%;
        order: 2;

        .label {
          font-size: 13px;
        }

        h1 {
          font-size: 40px;
          line-height: 2.5rem;
        }

        .CTA {
          padding-top: 2.5rem;
          justify-content: center;
          align-items: center;

          button {
            padding: .7rem 1.2rem;
            font-size: 15px;
            letter-spacing: 1px;
            margin-right: 1.2rem;
          }

          p {
            letter-spacing: 1px;
            font-size: 15px;
          }
        }
      }

      .Illustration {
        order: 1;
        flex: none;
        width: 372px;
        height: 250px;
        background: url('./images/illustration-devices.svg') no-repeat top left/cover;
        transform: translateX(-7.5%);
        margin: 4rem 0;
      }
    }
  }
}